.preview-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.preview-container input[type="file"] {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: #f9f9f9;
  font-size: 0.9rem;
}

.preview-container button {
  background-color:#87cefa;
  border: none;
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s ease;
}

.preview-container button:hover {
  background-color: #74a5ad;
}

.preview-toggle {
  margin-top: 8px;
  text-align: right;
}

.toggle-btn {
  cursor: pointer;
  font-size: 0.95rem;
  color:black;
  font-weight: 500;
  transition: color 0.2s ease;
}

.preview-box {
  margin-top: 12px;
}

.img-preview {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.pdf-preview {
  width: 100%;
  height: 400px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
